input,
button,
a {
    outline: 0 none !important;
}

.card-body button {
    outline: none;
    background-color: #028090;
    color: #fff;
    border-radius: 0;
    margin: 2% 1%;
    width: 15%;
    height: 40px;
    font-size: 18px;
    border:0px #028090 solid;

}

button:hover {
    background-color: #11495d;
}

.petimg {

    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;

}

.pet-tittle {
    font-size: 30px;
    color: #11495d;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card-header input {
    margin-left: 2%;

}

